.header-nav{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  background:#33292a;
  z-index:10;
}

.topnav{
  display:flex;
  justify-content:center;
  align-items:center;
  height:64px;
  margin:0;
  padding:0;
}

.topnav li{
  list-style:none;
  margin:0 50px;
}

.topnav a{
  color:#ffffff;
  text-decoration:none;
  font-size:18px;
  font-weight:700;
  font-family:Roboto, Arial, sans-serif;

  display:flex;
  align-items:center;
  height:64px;
  line-height:64px;
}

.topnav a:hover{
  color:#e9877b;
}

.sec1{
  position: relative;
  padding-top: 64px;
}

body{
  margin: 0;
  font-size: 15px;
  font-family: Roboto
}

.container{
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

section.container{
 min-height: auto;
} 

.container-text{
  width:340px;
  text-align:right;
  bottom:11vh;
  right: 10vh;
  position:absolute;
}

.container-aboutus{
  display: grid;
  grid-column: auto auto auto auto;
  align-items: center;
  gap: 40px;
  max-width: 1200px;
  margin: 150px auto;
  max-height: 500px;
}

.aboutus-left{
  grid-column-start: 2;
  grid-column-end: 3;
  font-family: Arial;
  line-height: 1.6;
  max-width: 400px;
}

.aboutus-right{
  grid-column-start: 3;
  grid-column-end: 4;
}

#aboutuspic{
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0%;
  width: 400px;
  height: 300px;
  border-radius: 1%;
  max-width: 850px;
  margin: auto;
}

.container-whatwedo{
  padding: 75px 0;
  background: #33292a;
  width: 100%;
  max-width: 1920px;
  margin: 150px auto;
}

.whatwedo-text{
  color: white;
  text-align: center;
  font-family: Arial;
}

.whatwedo-icons{
  display: flex;
  color: white;
  text-align: center;
  font-family: Arial;
  width: 100px;
  height: 100px;
  max-width: 1440px;
  justify-content: center;
  gap: 150px;
  margin: auto;
  margin-top: 5%;
}

.whatwedo-icons-text{
  display: flex;
  color: white;
  text-align: center;
  font-size: 20px;
  font-family: Arial;
  max-width: 850px;
  justify-content: space-around;
  gap: 150px;
  margin: auto;
  margin-top: 12px;
}

.whatwedo-text p{
  max-width: 820px;
  margin: auto;
  line-height: 1.5;
}

h1{
  font-size:76px;
  color: white
}

#background {
  width: 100%;
  height: 963px;
  object-fit: cover;
  display: block;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0%;
}

.container-trips{
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
}

.trips-text{
  background-color: #f1f1f1;
  font-size: 30px;
  text-align: center;
  font-family: Arial;
  width: 250px;
  height: 200px;
  align-content: center;
  margin: auto;
  border-radius: 2%;
}

.trips-img {
  width: 250px;
  height: 200px;
  padding: 10px;
  border-radius: 5%;
}

.container-where{
  display: grid;
  grid-template-columns:35% 65%;
  background-color: #644b4f;
  width: 100%;
  max-width: 1920px;
  padding: 75px 0;
  margin: 150px auto;
  margin-bottom: 50px;
  gap: 100px;
}

.where-left{
  margin-left: 70%;
  max-width:  150px;
  color: white;
  text-align: left;
}

.where-right{
  color: white;
  width: 65%;
  text-align: left;
  display: grid;
  grid-column: auto;
}

.where-button{
  background-color: #f1f1f1;
  color: black;
  font-family: arial;
  border: none;
  cursor: pointer;
  font-size: 15px;
  padding: 15px;
  width: 150px;
  border-radius: 5px;
  margin-top: 30px;
}

.where-button:hover{
  background-color: #e9877b;
  color: white;
}

.container-reviews{
  max-width: 1440px;
  margin: 70px auto;
  padding: 30px 0;
  text-align: center;
}

.reviews-title{
  font-size: 34px;
  font-weight: 700;
  margin: 0 0 15px;
}

.reviews-intro{
  max-width: 420px;
  margin: 0 auto 55px;
  line-height: 1.5;
  font-size: 17px;
  color: #333;
}

.reviews-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 120px;
  max-width: 980px;
  margin: 0 auto;
}

.review-card{
  text-align: center;
}

.review-avatar{
  width: 110px;
  height: 110px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 0 auto 25px;
}

.review-text{
  max-width: 365px;
  margin: 0 auto 22px;
  line-height: 1.6;
  font-size: 17px;
  color: #333;
}

.review-name{
  font-weight: 700;
  margin: 0;
  font-size: 17px;
}

.container-bottomphotos{
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0;
}

.container-bottomphotos img{
  width: 100%;
  height: 460px;
  object-fit: cover;
  display: block;
}

.footer{
  background: #333333;
  text-align: center;
  padding: 25px 0;
}

.footer-link{
  display: inline-block;
  margin-bottom: 8px;
  color: #efa69d;
  text-decoration: none;
  font-size: 14px;
}

.footer-link:hover{
  color: #e9877b;
}

.footer p{
  margin: 0;
  font-size: 13px;
  color: #ffffff;
}

@media screen and (width <= 768px) { /* w:390px */
  .container {width:100%}
  
  .topnav {
  /*display: none;*/
    }

    a.icon {display:block}
}

@media screen and (width <= 992px) { /* w:390px */
  .container {width:100%}
  
  .topnav {
  /*display: none;*/
    }

    a.icon {display:block}
}
  
/*
Použité barvy:
Navigace:
background-color: #33292a
color: #fff

Pozadí:
#33292a
#644b4f
#333333
#f2f2f2

Odkaz: 
#efa69d

Odkaz hover: 
#e9877b

Zakulacení rohů:
border-radius: 5px;

Použitá rodina písma:
Roboto

Breakpoint mobil vs tablet:
768px

Breakpoint tablet vs desktop:
992px

Odkaz na figmu
https://www.figma.com/file/I3CPHrJyWzUj8rrU08zcIp/Engeto-Projekt-1?node-id=0%3A1&t=5bm9TcpqNQQAhNxK-1 https://www.figma.com/file/I3CPHrJyWzUj8rrU08zcIp/Engeto-Projekt-1?node-id=4%3A195&t=5bm9TcpqNQQAhNxK-1 https://www.figma.com/file/I3CPHrJyWzUj8rrU08zcIp/Engeto-Projekt-1?node-id=6%3A280&t=5bm9TcpqNQQAhNxK-1

*/
