body {font-size: 15px;font-family: Roboto}
.container {width:1440px;margin:0 auto;position:relative;border:1px solid red;} /* */
section.container {min-height:963px} 
.topnav {display:flex;min-height:30px;background:#33292a;justify-content:center}
.topnav li {list-style-type: none;font-size:30px;border-right:1px solid blue;padding:0 5px}
.topnav li a:hover {color: lightblue}
.topnav li a {color:white;text-decoration:none}
a.icon {display:none}

.sec1 {background: url("img/scott-goodwill.jpg") 50% 50%;}
.container-text {width:340px;text-align:right;bottom:11vh;right:10vw;position:absolute;}

h1 {font-size:76px;color: white}

@media screen and (width <= 768px) { /* w:390px */
  .container {width:100%}
  
  .topnav {
  /*display: none;*/
    }

    a.icon {display:block}
}

@media screen and (width <= 992px) { /* w:390px */
  .container {width:100%}
  
  .topnav {
  /*display: none;*/
    }

    a.icon {display:block}
}
  
/*
Použité barvy:
Navigace:
background-color: #33292a
color: #fff

Pozadí:
#33292a
#644b4f
#333333
#f2f2f2

Odkaz: 
#efa69d

Odkaz hover: 
#e9877b

Zakulacení rohů:
border-radius: 5px;

Použitá rodina písma:
Roboto

Breakpoint mobil vs tablet:
768px

Breakpoint tablet vs desktop:
992px

Odkaz na figmu
https://www.figma.com/file/I3CPHrJyWzUj8rrU08zcIp/Engeto-Projekt-1?node-id=0%3A1&t=5bm9TcpqNQQAhNxK-1 https://www.figma.com/file/I3CPHrJyWzUj8rrU08zcIp/Engeto-Projekt-1?node-id=4%3A195&t=5bm9TcpqNQQAhNxK-1 https://www.figma.com/file/I3CPHrJyWzUj8rrU08zcIp/Engeto-Projekt-1?node-id=6%3A280&t=5bm9TcpqNQQAhNxK-1

*/