body {font-size: 15px;font-family: Roboto}
.container {width:1440px;margin:0 auto;position:relative;} /* */
section.container {min-height:963px} 
.topnav {display:flex;min-height:30px;background:#33292a;justify-content:center}
.topnav li {list-style-type: none;font-size:30px;padding:0 20px}
.topnav li a:hover {color: lightblue}
.topnav li a {color:white;text-decoration:none}
a.icon {display:none}


.container-text {width:340px;text-align:right;bottom:11vh;right: 10vh  ;position:absolute;}

.container-aboutus{
  display: grid;
  grid-column: auto auto auto auto;
  align-items: center;
  gap: 40px;
  max-width: 1200px;
  margin: 150px auto;
  max-height: 500px;
}
.aboutus-left{
  grid-column-start: 2;
  grid-column-end: 3;
  font-family: Arial;
  line-height: 1.6;
  max-width: 400px;
}
.aboutus-right{
  grid-column-start: 3;
  grid-column-end: 4;
}
#aboutuspic{
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0%;
  width: 400px;
  height: 300px;
  border-radius: 1%;
}

.container-whatwedo{
  background: #33292a;
  padding: 75px;
  max-width: 1440px;
  margin: 150px auto;
  max-height: 500px;
}
.whatwedo-text{
  color: white;
  text-align: center;
  font-family: Arial;
  max-width: 850px;
  margin: auto;
}
.whatwedo-icons{
  display: flex;
  color: white;
  text-align: center;
  font-family: Arial;
  width: 100px;
  height: 100px;
  max-width: 1440px;
  justify-content: center;
  gap: 150px;
  margin: auto;
  margin-top: 10%;
}
.whatwedo-icons-text{
  display: flex;
  color: white;
  text-align: center;
  font-size: 20px;
  font-family: Arial;
  max-width: 850px;
  justify-content: space-around;
  gap: 150px;
  margin: auto;
  margin-top: 12px;
}

h1 {font-size:76px;color: white}

#background {
  width:1440px;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0%;
}

.container-trips{
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
}
.trips-text{
  background-color: #f1f1f1;
  font-size: 30px;
  text-align: center;
  font-family: Arial;
  width: 250px;
  height: 200px;
  align-content: center;
  margin: auto;
  border-radius: 2%;
}
.trips-img {
  width: 250px;
  height: 200px;
  padding: 10px;
  border-radius: 5%;
}

.container-where{
  display: grid;
  grid-template-columns:35% 65%;
  background-color: #644b4f;
  max-width: 1440px;
  padding: 75px;
  margin: 150px auto;
  max-height: 500px;
  gap: 100px;
}
.where-left{
  margin-left: 70%;
  max-width:  150px;
  color: white;
  text-align: left;
}
.where-right{
  color: white;
  width: 65%;
  text-align: left;
  display: grid;
  grid-column: auto;
}
.where-button{
  background-color: #f1f1f1;
  color: black;
  font-family: arial;
  border: none;
  cursor: pointer;
  font-size: 15px;
  padding: 15px;
  width: 150px;
  border-radius: 5px;
  margin-top: 30px;
}

@media screen and (width <= 768px) { /* w:390px */
  .container {width:100%}
  
  .topnav {
  /*display: none;*/
    }

    a.icon {display:block}
}

@media screen and (width <= 992px) { /* w:390px */
  .container {width:100%}
  
  .topnav {
  /*display: none;*/
    }

    a.icon {display:block}
}
  
/*
Použité barvy:
Navigace:
background-color: #33292a
color: #fff

Pozadí:
#33292a
#644b4f
#333333
#f2f2f2

Odkaz: 
#efa69d

Odkaz hover: 
#e9877b

Zakulacení rohů:
border-radius: 5px;

Použitá rodina písma:
Roboto

Breakpoint mobil vs tablet:
768px

Breakpoint tablet vs desktop:
992px

Odkaz na figmu
https://www.figma.com/file/I3CPHrJyWzUj8rrU08zcIp/Engeto-Projekt-1?node-id=0%3A1&t=5bm9TcpqNQQAhNxK-1 https://www.figma.com/file/I3CPHrJyWzUj8rrU08zcIp/Engeto-Projekt-1?node-id=4%3A195&t=5bm9TcpqNQQAhNxK-1 https://www.figma.com/file/I3CPHrJyWzUj8rrU08zcIp/Engeto-Projekt-1?node-id=6%3A280&t=5bm9TcpqNQQAhNxK-1

*/